/* The Modal (background) */
.modal-project {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 103;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* The Close Button */
.modal-project .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.modal-project .close:hover, .modal-project .close:focus {
    color: #4B02F6;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content */
.modal-content {
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    width: 80%;
    position: relative;
}

/* Project Loader */
.project-loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.project-loader .spinner {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto;
}

.project-loader .double-bounce1,
.project-loader .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4B02F6;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.project-loader .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.btn-modal:hover {
    cursor: pointer;
}